body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: black;
  height: 100%;
  font-family: 'Courier New', Courier, monospace;
}

#matrix {
  display: block;
}

#message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #00FF00;
  text-align: center;
  opacity: 0;
  transition: opacity 2s ease-in;
  max-width: 90%;
  white-space: pre-wrap;
}

#typed-text {
  font-size: 3em;
  font-weight: bold;
  /*color: #ffffff;*/
}

#cursor {
  display: inline-block;
  font-size: 4em;
  font-weight: bold;
  margin-top: 10px;
  /*color: #ffffff;*/

  animation: blink 1s infinite;
}

@keyframes blink {
  0%, 50%, 100% { opacity: 1; }
  25%, 75% { opacity: 0; }
}
